@font-face {
  font-display: swap;
  font-family: "elza";
  font-weight: 400;
  src: url("../fonts/Elza-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: "elza";
  font-weight: 700;
  src: url("../fonts/Elza-Bold.ttf");
}

.FE328-container {
  margin: 0px;
  padding: 0px;
  border: none;
  box-shadow: none;
}

.FE328-first-banner .banner-desk {
  border-radius: 52px;
}

.banner-desk {
  display: flex;
  width: 100%;
}

.banner-mb {
  display: none;
  width: 100%;
}

.FE328-subtilte {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: 0px;
  color: #e01115;
  max-width: 570px;
  margin-top: 0px;
  margin-bottom: 43px;
}

.FE328-txt {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: 0px;
  max-width: 570px;
  margin-top: 0px;
  margin-bottom: 16px;
}

.FE328-scnd-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
  margin-top: 120px;
}

.FE328-thrd-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
  margin-top: 120px;
}

.FE328-banner-duplo {
  display: flex;
  gap: 44px;
  justify-content: center;
  align-items: center;
}

.FE328-banner-duplo-fc {
  margin-top: 150px;
}

.FE328-banner-duplo .FE328-subtilte {
  margin: 40px auto 42px auto;
  text-align: center;
}

.FE328-banner-duplo .FE328-txt {
  margin: 0px auto 0px auto;
  text-align: center;
}

.FE328-features-container {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
  gap: 110px;
}

.FE328-features-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FE328-features-txt {
  font-family: "elza", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 112%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #e01115;
  max-width: 440px;
}

.last-box-txt {
  width: 914px;
  height: 160px;
  border-radius: 37px;
  background-color: #e01115;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 106px;
  margin-top: 80px;
}

.last-container-txt {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 105%;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.banner-desk-last {
  display: flex;
}

.banner-mb-last {
  display: none;
}

.FE392-obsv {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 102px;
}

.FE392-obsv p {
  font-family: "elza", serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.FE392-obsv h2 {
  font-family: "elza", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #e01115;
}

.FE328-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 165px;
  background-color: #0050dc;
  border-radius: 20px;
  margin-top: 90px;
}

.FE328-footer p {
  font-family: "elza", serif;
  font-weight: 400;
  font-size: 33.71px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #ffffff;
  margin-right: 107px;
}

.FE328-footer svg {
  margin-left: 111px;
}

@media (max-width: 1660px) {
  .banner-desk-last,
  .banner-mb-last {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .FE328-scnd-container,
  .FE328-thrd-container {
    flex-direction: column;
  }

  .last-box-txt {
    width: 100%;
  }

  .FE328-features-container {
    flex-wrap: wrap;
  }

  .FE328-banner-duplo {
    flex-direction: column;
  }

  .FE328-banner-duplo-fc {
    margin-top: 22px;
  }

  .FE328-footer {
    height: 84px;
  }

  .FE328-footer p {
    font-size: 16px;
    margin-right: 22px;
  }

  .FE328-footer svg {
    margin-left: 4px;
    width: 122px;
    height: 46px;
  }

  .last-box-txt {
    width: fit-content;
    margin-right: 23px;
    margin-left: 23px;
  }
}

@media (max-width: 768px) {
  .banner-desk {
    display: none;
    width: 100%;
  }

  .banner-mb {
    display: flex;
    width: 100%;
  }

  .banner-desk-last {
    display: none;
  }

  .banner-mb-last {
    display: flex;
  }

  .FE328-features-container {
    gap: 40px;
  }

  .FE328-features-card img {
    width: 110px;
  }

  .FE328-features-txt {
    font-size: 16px;
    max-width: 280px;
  }

  .last-container-txt {
    font-size: 16px;
    padding: 0 30px;
  }

  .FE328-subtilte {
    font-size: 32px;
  }

  .FE328-thrd-txt-box {
    padding: 0px 28px;
  }

  .FE328-banner-duplo,
  .FE328-scnd-txt-box {
    padding: 0px 28px;
  }

  .FE392-obsv p {
    font-size: 16px;
    padding: 0px 28px;
  }

  .FE392-obsv h2 {
    font-size: 32px;
    padding: 0px 28px;
  }
}

@media (max-width: 500px) {
  .FE328-scnd-banner {
    display: flex;
    margin-left: auto;
  }
}
